.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0 16px;
    width: 100%;
    max-width: 1584px;
    margin: 0 auto;
  }
  
  @media (min-width: 672px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  
  @media (min-width: 1056px) {
    .grid {
      grid-template-columns: repeat(16, 1fr);
    }
  }